
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css"/>
    <link rel="stylesheet" href="~/Content/NewsStyles.css"/>
    <script type="text/javascript" src="~/scripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="~/scripts/Clock.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.unobtrusive-ajax.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body class="container">
<div class="row text-center">
    @Html.Action("Uptime")
</div>
<div id="NewsMenu" class="row text-center">
    @Html.ActionLink("News Stream", "Index", "NewsList", null, new {@class = "col-md-2"})
    @Html.ActionLink("About Us", "Index", "AboutUs", null, new {@class = "col-md-2"})
    @Html.ActionLink("Contact Us", "Index", "ContactUs", null, new {@class = "col-md-2"})
    @Html.ActionLink("Image Gallery", "Index", "ImageGallery", null, new {@class = "col-md-2"})
    @Html.ActionLink("Join Us", "Index", "Registration", null, new { @class = "col-md-2" })
    @Html.ActionLink("Registered Users", "All", "Registration", null, new { @class = "col-md-2" })
</div>
<div class="row">
    <h1 class="text-center">@ViewBag.ViewTitle</h1>
</div>
<hr/>
<div class="row">

    <div class="col-md-8 col-md-offset-2">
        @RenderBody()
    </div>
</div>
<hr/>
<footer class="row text-center">
    @Html.ActionLink("View Request Info", "Index", "RequestInfo")
    <h5 id="Clock"></h5>
</footer>
</body>
</html>



