@model List<NewsSite.Models.Visitor>
@{
    ViewBag.Title = "Registered Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ViewTitle = "Registered Users";
}

<div class="row">
    <div class="col-md-12">
        <table Id="RegisteredUsers" class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Ajax.ActionLink("Id", "Ordered", new { orderBy = "Id" }, new AjaxOptions
               {
                   Url = Url.Action("Ordered", new { orderBy = "Id" }),
                   InsertionMode = InsertionMode.Replace,
                   UpdateTargetId = "RegisteredUsersTableBody"
               })
                    </th>
                    <th>
                        @Ajax.ActionLink("First Name", "Ordered", new { orderBy = "FirstName" }, new AjaxOptions
               {
                   Url = Url.Action("Ordered", new { orderBy = "FirstName" }),
                   InsertionMode = InsertionMode.Replace,
                   UpdateTargetId = "RegisteredUsersTableBody"
               })
                    </th>
                    <th>
                        @Ajax.ActionLink("Last Name", "Ordered", new { orderBy = "LastName" }, new AjaxOptions
               {
                   Url = Url.Action("Ordered", new { orderBy = "LastName" }),
                   InsertionMode = InsertionMode.Replace,
                   UpdateTargetId = "RegisteredUsersTableBody"
               })
                    </th>
                    <th>
                        @Ajax.ActionLink("Birth Date", "Ordered", new { orderBy = "BirthDate" }, new AjaxOptions
               {
                   Url = Url.Action("Ordered", new { orderBy = "BirthDate" }),
                   InsertionMode = InsertionMode.Replace,
                   UpdateTargetId = "RegisteredUsersTableBody"
               })
                    </th>
                    <th>
                        @Ajax.ActionLink("Email", "Ordered", new { orderBy = "Email" }, new AjaxOptions
               {
                   Url = Url.Action("Ordered", new { orderBy = "Email" }),
                   InsertionMode = InsertionMode.Replace,
                   UpdateTargetId = "RegisteredUsersTableBody"
               })
                    </th>
                    <th />
                </tr>
            </thead>
            <tbody Id="RegisteredUsersTableBody">
                @Html.Action("Ordered")
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div id="editPersonForm" class="col-md-12"></div>
</div>

<script type="text/javascript">
    function hideEditForm(response) {
        var visitor = JSON.parse(response.responseText);
        $('#firstName').value(visitor.FirstName);
        $('#editPersonForm').empty();
    }
</script>

@*<script type="text/javascript">
    function processData(data) {
        var target = $("#RegisteredUsersTableBody");
        target.empty();
        for (var i = 0; i < data.length; i++) {
            var person = data[i];
            target.append("<tr><td>" + person.Id + "</td><td>"
                + person.FirstName + "</td><td>" + person.LastName + "</td><td>" + person.BirthDate + "</td><td>" + person.Email + "</td><td>" +
                "<a class=\"btn btn-info\" href=\"/Registration/User/" + person.Id + "\">Edit</a>" + "</td></tr>");
        }
    }
</script>*@