@model List<NewsSite.Models.Visitor>
@{
    ViewBag.Title = "Registered Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ViewTitle = "Registered Users";
}

<table Id="RegisteredUsers" class="table table-hover">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Birth Date</th>
            <th>Email</th>
            <th/>
        </tr>
    </thead>
    <tbody>
        @foreach (var visitor in Model)
        {
            <tr>
                <td>@visitor.FirstName @visitor.LastName</td>
                <td>@visitor.BirthDate.ToString("dd-MM-yyyy")</td>
                <td>@visitor.Email</td>
                <td>
                    @*@Html.ActionLink("Edit", "User", "Registration", new { visitorId = visitor.Id}, new {@class="btn btn-info"})*@
                    @Html.ActionLink("Edit", string.Format("User/{0}", visitor.Id), "Registration", null, new { @class = "btn btn-info" })
                </td>
            </tr>
            }
    </tbody>
</table>

