@model List<NewsSite.Models.Visitor>

@foreach (var visitor in Model)
{
    <tr id="@visitor.Id">
        <td>@visitor.Id</td>
        <td id="firstName">@visitor.FirstName</td>
        <td id="lastName">@visitor.LastName</td>
        <td id="birthDate">@visitor.BirthDate.ToString("dd-MM-yyyy")</td>
        <td id="email">@visitor.Email</td>
        <td>
            @Ajax.ActionLink("Edit", string.Format("User/{0}", visitor.Id), new AjaxOptions
       {
           Url = Url.Action("User", new { id = visitor.Id }),
           UpdateTargetId = "editPersonForm"
       })
        </td>
    </tr>
}