@model NewsSite.Models.NewsModel

@{
    Layout = @"..\Shared\_Layout.cshtml";
    ViewBag.Title = "News Stream";
    ViewBag.ViewTitle = "News Stream";
}

    <table class="table table-hover">
        <tbody>
            @{
                foreach (var newsEntry in @Model.News)
                {
                    <tr>
                        <td class="text-left">
                            <p class="text-right">@newsEntry.CreatedOn.ToString("dd-MM-yyyy HH:mm")</p>
                            <h3>@newsEntry.Title</h3>
                            <p>@newsEntry.Content</p>
                            <p>
                                <b><a href="@newsEntry.Origin.AbsoluteUri" >Original text</a></b>
                            </p>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <h4 class="text-right">Total news: @Model.News.Count</h4>

